html,
body {
    height: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Canvas styles */
#myCanvas {
    border: 4px solid #000000;
    max-height: 600px;
}

/* Button styles */
button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Generate button styles */
#generateButton {
    background-color: #008CBA;
}

/* Save button styles */
#saveButton {
    background-color: #4CAF50;
}

/* Input range styles */
input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 1px;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #008CBA;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 1px;
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50%;
    background: #008CBA;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: #ddd;
    border-radius: 2px;
}

input[type="range"]::-ms-fill-upper {
    background: #ddd;
    border-radius: 2px;
}

input[type="range"]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #008CBA;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type="range"]:focus::-ms-fill-lower {
    background: #ccc;
}

input[type="range"]:focus::-ms-fill-upper {
    background: #ccc;
}